name: Matrix Docker Build & Push

on:
  schedule:
    - cron: "32 14 * * 0"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    env:
      REGISTRY: ghcr.io
      REPO: ${{ github.repository_owner }}/${{ github.event.repository.name }}
      VERSION: "0.0.1"
      HTTP_PROXY: ${{ secrets.HTTP_PROXY || '' }}
      HTTPS_PROXY: ${{ secrets.HTTPS_PROXY || '' }}
      BUILD_ARGS: |
        PARENT=${{ matrix.base }}
        ${HTTP_PROXY:+http_proxy=${HTTP_PROXY}}
        ${HTTPS_PROXY:+https_proxy=${HTTPS_PROXY}}

    strategy:
      fail-fast: false
      matrix:
        base:
          - debian:11
          - debian:12
          - debian:13
          - fedora:41
          - fedora:42
          - fedora:43
          - ubuntu:20.04
          - ubuntu:22.04
          - ubuntu:24.04
          - ubuntu:26.04

    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Generate tag name
        id: tag
        shell: bash
        run: |
          IMAGE="${{ matrix.base }}"

          # Split into distro + version
          DISTRO=$(echo "$IMAGE" | cut -d: -f1)
          VER=$(echo "$IMAGE" | cut -d: -f2)
          VERSION="v${{ env.VERSION }}"

          TAG="${DISTRO}-${VER}-${VERSION}"

          echo "Generated tag: $TAG"
          echo "DISTRO=$DISTRO" >> $GITHUB_OUTPUT
          echo "VER=$VER" >> $GITHUB_OUTPUT
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.REPO }}
          tags: |
            ${{ steps.tag.outputs.DISTRO }}-${{ steps.tag.outputs.VER }}-${{ steps.tag.outputs.VERSION }}
            ${{ steps.tag.outputs.DISTRO }}-${{ steps.tag.outputs.VER }}-latest

      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          build-args: ${{ env.BUILD_ARGS }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
