name: Publish Docker image

on:
  release:
    types: [published]

jobs:
  push_to_registry:
    name: Build, Test, and Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    env:
      BUILD_ARGS: |
        PARENT=ubuntu:24.04

    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: pfichtner/freetz

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false  # Build the image but do not push yet
          build-args: ${{ env.BUILD_ARGS }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Setup Bats and bats libs
        id: setup-bats
        uses: bats-core/bats-action@3.0.1

      - name: Run Tests
        shell: bash
        env:
         BATS_LIB_PATH: ${{ steps.setup-bats.outputs.lib-path }}
        run: bats tests/test.sh

      - name: Push Docker image to Docker Hub
        if: success()  # Ensure this step runs only if the tests pass
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          build-args: ${{ env.BUILD_ARGS }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
