name: Update Freetz-NG Prerequisites

on:
  workflow_dispatch:
  schedule: 
    - cron: '55 3 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Cache curl results
      id: cache-curl-results
      uses: actions/cache@v3
      env:
        cache-name: cache-curl-results
      with:
        path: ~/.cache
        key: curlcontent-${{ runner.os }}-${{ github.run_id }}
        restore-keys: curlcontent-${{ runner.os }}
    - name: Run generate-prereqs.sh
      run: sh scripts/generate-prerequisites.sh "https://raw.githubusercontent.com/Freetz-NG/freetz-ng/master/docs/PREREQUISITES.md" ~/.cache provisioning
    - name: set ETAG env
      run: echo "ETAG=$(cat ~/.cache/PREREQUISITES.md.etag | tr -d '\"')" >> $GITHUB_ENV
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v4
      with:
        # token is necessary so that the PR can be commented by another GHA workflow
        token: ${{ secrets.PR_PAT }}
        title: 'https://github.com/Freetz-NG/freetz-ng/blob/master/docs/PREREQUISITES.md was updated'
        branch: create-pull-request/patch-${{ env.ETAG }}
        commit-message: "Update in upstream content"
        delete-branch: true
        assignees: pfichtner

